.other-sculptures-container {
  width: 1080px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 50px;
}

.other-sculptures-container .inner-row {
  display: flex;
}

.other-sculptures-container .other-sculptures-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18%;
  padding-top: 7%;
}

.other-sculptures-container .other-sculptures-col {
  flex-basis: 100%;
}

.other-sculptures-container .flex-container {
  width: 95%;
}

.other-sculptures-container .other-sculptures-item {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.other-sculptures-container .single-image {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .other-sculptures-container {
    width: 95%;
    min-height: 95%;
  }
  .other-sculptures-container .inner-row {
    flex-direction: column;
  }
}
