.sculpture-container {
  width: 1080px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 50px;
}

.sculpture-container .inner-row {
  display: flex;
}

.sculpture-container .series-link {
  text-decoration: none;
  color: black;
}

.sculpture-container .sculpture-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sculpture-container .sculpture-col {
  flex-basis: 100%;
}

.sculpture-container .flex-container {
  width: 95%;
}

.sculpture-container .sculpture-item {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .sculpture-container {
    width: 95%;
    min-height: 95%;
  }
  .sculpture-container .inner-row {
    flex-direction: column;
  }
}
