.like-no-tomorrow-container {
  width: 1080px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 50px;
}

.like-no-tomorrow-container .inner-row {
  display: flex;
}

.like-no-tomorrow-container .like-no-tomorrow-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
  padding-top: 2%;
}

.like-no-tomorrow-container .like-no-tomorrow-col {
  flex-basis: 100%;
}

.like-no-tomorrow-container .flex-container {
  width: 95%;
}

.like-no-tomorrow-container .like-no-tomorrow-item {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.single-image {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .like-no-tomorrow-container {
    width: 95%;
    min-height: 95%;
  }
  .like-no-tomorrow-container .inner-row {
    flex-direction: column;
  }
}
