.grid-container {
  width: 1080px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 50px;
}

.grid-container .link {
  text-decoration: none;
  color: black;
}

.grid-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-container {
  flex-basis: 100%;
}

.grid-container .grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .grid-col {
  flex-basis: 100%;
  flex-direction: column;
}

.grid-container .flex-container {
  width: 95%;
}

.grid-container .grid-item {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    width: 95%;
    min-height: 95%;
  }
}
