.about-container {
  width: 1080px;
  height: 80vh;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.about-container .row {
  display: flex;
}

.about-container .right-col {
  flex-basis: 100%;
}

.about-container .left-col {
  flex-basis: 100%;
}

.about-container .left-side-group {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 0 10px 10px 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  margin-top: 20px;
}

.about-container .right-side-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}

.about-container .image-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container .about-image {
  width: 70%;
  border-radius: 50px;
}

.about-container .paragraph-item {
  padding: 10px;
}

.about-container .mobile-image-group {
  display: none;
}

@media only screen and (max-width: 768px) {
  .about-container {
    width: 95%;
    height: 100%;
  }

  .about-container .left-side-group {
    font-size: 18px;
  }

  .about-container .right-side-group {
    display: none;
  }

  .about-container .mobile-image-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .about-container .mobile-about-image {
    width: 95%;
    border-radius: 50px;
  }

  .right-col {
    display: none;
  }
}
