.mug-container {
  width: 1080px;
  height: 80vh;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mug-container .carousel {
  width: 600px;
}

@media only screen and (max-width: 768px) {
  .mug-container {
    width: 95%;
    min-height: 95%;
  }

  .mug-container .carousel {
    margin-top: 20px;
    width: 300px !important;
  }
}
