.accalia-container {
  width: 1080px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 50px;
}

.accalia-container .inner-row {
  display: flex;
}

.accalia-container .accalia-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16%;
  padding-top: 6%;
}

.accalia-container .accalia-col {
  flex-basis: 100%;
}

.accalia-container .flex-container {
  width: 95%;
}

.accalia-container .accalia-item {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .accalia-container {
    width: 95%;
    min-height: 95%;
  }
  .accalia-container .inner-row {
    flex-direction: column;
  }
}
