.process-photos-container {
  width: 1080px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 50px;
}

.process-photos-container .inner-row {
  display: flex;
}

.process-photos-container .process-photos-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 17%;
  padding-top: 8%;
}

.process-photos-container .process-photos-col {
  flex-basis: 100%;
}

.process-photos-container .flex-container {
  width: 95%;
}

.process-photos-container .process-photos-item {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.process-photos-container .process-image {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .process-photos-container {
    width: 95%;
    min-height: 95%;
  }
  .process-photos-container .inner-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70%;
  }

  .process-photos-container .process-image {
    width: 90%;
  }
}
