.process-photos-container {
  width: 1080px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 50px;
}

.inner-row {
  display: flex;
}

.process-photos-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-photos-col {
  flex-basis: 100%;
}

.flex-container {
  width: 95%;
}

.process-photos-item {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .process-photos-container {
    width: 95%;
    min-height: 95%;
  }
  .inner-row {
    flex-direction: column;
  }
}
