.footer-container {
  width: 1080px;
  margin: 10px auto;
  height: 50px;
  background-color: white;
  border-radius: 10px;
}

.footer-container .footer-row {
  display: flex;
}

.footer-container .footer-col {
  flex-basis: 100%;
}

.footer-container .footer-left {
  height: 50px;
  width: auto;
}

.footer-container .footer-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
  font-size: 14px;
  font-weight: bold;
}

.footer-container .footer-right {
  height: 50px;
  width: auto;
  display: none;
}

.footer-container .fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 10px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    width: 95%;
    height: 100%;
  }

  .footer-container .footer-center {
    display: none;
  }

  .footer-container .fa {
    width: 20px;
    margin-right: 5px;
  }

  .footer-container .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
  }
}
